.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0px auto;
  padding-bottom: 100px;
}

.header {
  padding: 20px 0px;
  text-align: center;
}

.title {
  margin-top: 20px;
}

#line {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 92%;
  background-color: #dcdcdc;
  height: 1px;
}

.form .input_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.form label {
  font-weight: bold;
  margin: 20px 0px 10px;
}

.form .text_input {
  height: 52px;
  width: 100%;
  font-size: 1rem;
  padding: 14px;
}

.has_text_weight_normal label {
  font-weight: normal;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.options label {
  margin: 0px;
  padding-left: 5px;
}

.form .checkbox_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 30px 0px;
  gap: 15px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.checkbox label {
  margin: 0px;
  padding-left: 5px;
}

.terms {
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 20px;
}

.custom_mt_5 {
  margin: 5px;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  border: 0px;
  border-radius: 100px;
  background-color: #1ed760;
  color: black;
  padding: 16px 42px;
  font-size: 1rem;
  font-weight: bold;
}
