:root {
    --primary: #fff;
    --primary-opacity: rgba(255, 255, 255, 0.5);
    --secondary: #121212;
    --secondary-opacity: rgba(0, 0, 0, 0.5);
    --terciary: #000;
    --background-tinted-press: hsla(0, 0%, 100%, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
