:root {
    --sides-padding: 15%;
}

@media screen and (min-width: 1000px) {
    :root {
        --sides-padding: 20%;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        --sides-padding: 10%;
    }
}

@media screen and (min-width: 1000px) {
    :root {
        --sides-padding: 20%;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        --sides-padding: 10%;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);

    overflow-x: hidden;
}

.container main {
    background-color: var(--secondary);
    padding-left: var(--sides-padding);
    padding-right: var(--sides-padding);
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
}

main > header {
    position: fixed;
    top: 0;

    width: calc(84% - var(--sides-padding));
    background-color: var(--secondary);
    height: 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;

    z-index: 5;
}

.content {
    position: relative;
    top: 100px;

    background-color: var(--secondary);

    padding: 30px;
}

.subscribe-login-container {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 30px;
}

.subscribe-button {
    text-decoration: none;
    color: var(--primary-opacity);
}

.login-button {
    text-decoration: none;

    color: var(--terciary);
    font-weight: bold;

    background-color: var(--primary);

    padding: 12px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

.logo-container {
    flex: 1;
}

.logo {
    color: var(--primary);
}

.menu-principal {
    margin-bottom: 20px;
}

.menu-utilitario {
    margin-top: 40px;
}

.faq-categories-container {
    margin-bottom: 50px;
}

.faq-help-container p {
    font-size: 72px;
    color: #e8e6e3;
}

.faq-help-container h1 {
    --margin-tb: 30px;
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
    font-size: 22px;
    color: #e8e6e3;
}

.faq-link-login {
    color: #e8e6e3;
}

.faq-barra-de-busca {
    margin-top: 15px;
    color-scheme: dark;
    border: 0px;
    font-weight: 400;
    inline-size: 100%;
    padding: 14px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 48px;
}

.faq-categories-container header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.faq-categories-container header a {
    text-decoration: none;
    color: var(--primary-opacity);
    font-size: 14px;
    font-weight: 600;
}

.faq-categories-container h3 {
    color: var(--primary);
}

.faq-categories {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    display: grid;
    justify-items: center;
    gap: 15px;
    margin-top: 5%;
}

@media screen and (max-width: 1000px) {
    .faq-categories {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        display: grid;
        justify-items: center;
        gap: 15px;
        margin-top: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .faq-categories {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        display: grid;
        justify-items: center;
        gap: 15px;
        margin-top: 5%;
    }
}

.faq-categorie-card {
    max-height: 300px;
    max-width: 500px;
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px;
    padding: 16px;
    background-color: #181818;
    overflow: hidden;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 5px;

    cursor: pointer;
}

.faq-categorie-card .card-img {
    border-radius: 10px;
    max-width: 100px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    transform: rotate(25deg);
}

.faq-categorie-card .title {
    color: var(--primary);
    text-align: left;
    margin-bottom: 10px;
}

.faq-categorie-card .detail {
    color: var(--primary);
    text-align: left;
    width: 100%;
    height: 100%;
}

.faq-help-links-container {
    background-color: var(--background-tinted-base, rgba(0, 0, 0, 0.08));
    width: 100%;
}

.faq-help-links-title {
    font-size: 22px;
    color: #e8e6e3;
    margin-bottom: 20px;
}

.faq-help-links-container h2 {
    --margin-tb: 30px;
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
}

.faq-help-link-items-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.faq-help-link-items-list > * {
    flex: 50%;
}

.faq-help-link-item {
    color: var(--primary-opacity);
    font-size: 14px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    justify-content: space-between;
}

.faq-help-link-text {
    text-decoration: none;
    color: #e8e6e3;
}

.faq-help-link-arrow-icon {
    width: 17px;
    height: 17px;
}

.faq-help-link-text:hover {
    text-decoration: underline;
}

.faq-categorie-card#card-ajuda-com-pagamentos {
    background-color: rgb(140, 32, 120);
}

.faq-categorie-card#card-ajuda-com-o-plano {
    background-color: rgb(112, 20, 40);
}

.faq-categorie-card#card-ajuda-com-o-app {
    background-color: rgb(141, 78, 46);
}

.faq-categorie-card#card-ajuda-com-dispositivos {
    background-color: rgb(0, 80, 64);
}

.faq-categorie-card#card-privacidade-e-seguranca {
    background-color: rgb(88, 95, 99);
}

.faq-categorie-card#card-ajuda-com-a-conta {
    background-color: rgb(66, 98, 129);
}

.visite-nossa-comunidade-container {
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #e8e6e3;
}

.visite-nossa-comunidade-titulo {
    text-align: center;
    font-size: 40px;
}

.visite-nossa-comunidade-pergunta {
    text-align: center;
}

.link-botao-acesse-a-comunidade {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-botao-acesse-a-comunidade {
    max-width: 500px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-base, #1ed760);
    color: var(--text-base, #000000);
    border-radius: 500px;
    font-size: inherit;
    padding-block: 14px;
    padding-inline: 32px;
    --background-base: #1ed760;
}

.faq-rodape-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-rodape-container > .faq-rodape-column-container > h1 {
    margin-top: 30px;
    color: #919496;
    font-size: 15px;
}

.faq-rodape-container > .faq-rodape-column-container > * > * {
    margin-top: 15px;
}

.faq-rodape-container > .faq-rodape-column-container > ul > li > a {
    color: #e8e6e3;
    text-decoration: none;
}

.faq-rodape-icone-botao {
    border-radius: 50%;
}

.faq-rodape-icone-botao > img {
    background-color: #000000;
    border-radius: 43%;
    width: 50px;
    height: 50px;
}

.faq-rodape-socials-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.faq-rodape-links-location-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.faq-rodape-spotify-corp {
    color: #919496;
    font-size: 10px;
}

.faq-rodape-location {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.faq-rodape-links-genericos-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.faq-rodape-link-generico {
    font-size: 17px;
    color: #e8e6e3;
    text-decoration: none;
}
